<!doctype html>
{% load static %}
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <h1 class="display-6 fw-bold">{{ titulo }}</h1>
            <p class="fs-5">
                 {{ mensagem }}
            </p>
            <a href="{% url 'getquery' %}" class="btn btn-primary btn-lg px-4 gap-3">Voltar</a>
          </div>
     </main>
   </body>
</html>